.intro__img-two{
  display: block;
  min-width: 730px;
  height: auto;
  background: url("../images/intro_2.png") no-repeat center;
  border-radius: 10px;
  background-size: cover;
}

@media screen and (max-width:992px) {
  .intro__img-two{
    max-width: 730px;
    width: 100%;
    min-width:455px; 
  }
}

@media screen and (max-width:767px) {
  .intro__img-two{
    background-size: 100%;
    min-width: 0;
    padding-top: 75%;
  }
}
