.intro__img-one{
  display: block;
  min-width:448px;
  height: auto;
  background: url("../images/intro_1.png") no-repeat center;
  border-radius: 10px;
  
}

@media screen and (max-width:767px) {
  .intro__img-one{
    background-size: 100%;
    min-width: 0;
    padding-top: 51%;
  }
}
