.guarantee__container{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

@media screen and (max-width:992px) {
  .guarantee__container{
    flex-wrap: wrap;
  }
}

@media screen and (max-width:767px) {
  .guarantee__container{
    margin-top: 40px;
  }
}