.services__price{
  @include resetStyles(0,0);
  font-family: $fontFamily;
  font-size: 14px;
  line-height: 14px;
  color: #25E197;
}

@media screen and (max-width:767px) {
  .services__price{
    font-size: 12px;
    line-height: 18px;
  }
}