.services__item{
  box-sizing: border-box;
  background: $cardColor;
  border-radius: 16px;
  padding: 40px;
  margin-right: 20px;
  width: 50%;
  transition: background .2s ease-in-out;
  &:last-of-type{
    margin-right: 0;
  }

  &:hover{
    background: #232327;
  }
}

@media screen and (max-width:992px) {
  .services__item{
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;

    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width:767px) {
  .services__item{
    padding: 20px;
  }
}