.page__container_size_min{
  padding: 0 30px;
}

@media screen and (max-width:992px) {
  .page__container_size_min{
    padding: 0 60px;
  }
}

@media screen and (max-width:767px) {
  .page__container_size_min{
    padding: 0 20px;
  }
}