.guarantee__item{
  box-sizing: border-box;
  background: $cardColor;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  width: 25%;
  transition: background .2s ease-in-out;

  &:last-of-type{
    margin-right: 0;
  }

  &:hover{
    background: #232327;
  }
}

@media screen and (max-width:992px) {
  .guarantee__item{
    width: 48%;
    margin-bottom: 20px;

      &:nth-of-type(2n){
        margin-right: 0;
      }
  }
}

@media screen and (max-width:767px) {
  .guarantee__item{
   width: 100%;
   margin-right: 0;
   min-height: 148px;

    &:last-of-type{
      margin-bottom: 0;
    }
  }
}