.footer__info{
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:992px) {
  .footer__info{
    display: block;
  }
}

@media screen and (max-width:768px) {
  .footer__info{
    margin-top: 10px;
  }
}