.guarantee__title{
  margin: 0;
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #EAEAF0;
  font-family: $fontFamily;
}

@media screen and (max-width:1220px) {
  .guarantee__title{
    font-size: 16px;
    line-height: 1;
  }
}

@media screen and (max-width:768px) {
  .guarantee__title{
   margin-bottom: 36px;
  }
}