.guarantee__title{
  @include resetStyles(0,0);
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #EAEAF0;
  font-family: $fontFamily;
}

@media screen and (max-width:767px) {
  .guarantee__title{
   margin-bottom: 36px;
  }
}